
@model List<LabReport2.Models.Patient>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 align="center">Patients </h2>

<a  class="btn btn-primary" href="/Patient/PatientForm" role="button">Add New Patient</a>
<br>

<br>

<table id="Patients" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Patient Id</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Patient Address</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>

            <th scope="col">Phone</th>
            <th scope="col">Create Report</th>
            <th scope="col">See Reports</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
        <tr>
            <th scope="row">@patient.Id</th>
            <td>@patient.PatientName</td>
            <td>@patient.Address</td>
            <td>@patient.Gender</td>
            <td>@patient.Age</td>
            <td>@patient.Phone</td>
            <td><a type="button" class="btn btn-primary" href="#">Create Report </a></td>
            <td><a type="button" class="btn btn-primary" href="/Patient/SeeReports/@patient.Id">See Reports </a></td>


        </tr>
        }


    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#Patients").DataTable();
        });
    </script>
    }