@model LabReport2.ViewModels.ShowReportViewModel
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_ReportView.cshtml";
}


<center>
    <div style="width:808px;border:0px solid #000; height:auto; font-family:arial; font-size:14px">
        <div style="width:710px; height:auto; margin:120px 0% 0px 0px; border-radius:5px; border:2px solid #000">
            <table width="700" border="0" align="center" cellpadding="3" cellspacing="3" class="tab1">
                <!-- <tr bgcolor="#085598" style="color:#FFF">
                <td colspan="4" align="center" valign="middle">Patient Information</td>
                </tr>-->
                <tr>
                    <th width="80" align="left" valign="middle">Patient Name</th>
                    <th align="left" valign="middle">:&nbsp;@Model.Report.Patient.PatientName</th>
                    <th align="left" valign="middle">Gender / Age</th>
                    <td align="left" valign="middle">:&nbsp;@Model.Report.Patient.Gender / @Model.Report.Patient.Age Years&nbsp;</td>
                    <th align="left" valign="middle">Patient Id</th>
                    <td align="left" valign="middle">:&nbsp;ID @Model.Report.PatientId</td>


                </tr>
                <tr>
                    <th align="left" valign="middle">Referred By</th>
                    <td align="left" valign="middle">:&nbsp;@Model.Report.Doctor.Name </td>

                    <th align="left" valign="middle"> Date</th>
                    <td align="left" valign="middle">:&nbsp;@string.Format("{0:d MMM yyyy}", @Model.Report.Date)</td>
<th align="left" valign="middle">Reg. No.</th>
                    <td align="left" valign="middle">:&nbsp;@Model.Report.Id</td>
                </tr>



            </table>

        </div>
        <div style="width:700px;  border:0px solid #000; height:auto; margin-top:0px;">
            <table align="center" width="700" cellpadding="5" bordercolor="#a1a1a1" border="0" style="border-collapse:collapse;">
                <!--<tr>
    <th style="font-family:'Courier New', Courier, monospace" colspan="3" align="center" valign="middle">Reports</th>
    </tr>-->
                <tr>
                    <th height="25" colspan="3" align="center" valign="top" style="text-transform:uppercase; font-size:20px; text-decoration:underline; font-family:'Courier New', Courier, monospace">@Model.Report.TestTitle.Name </th>
                </tr>

                <tr style="border-top:1px dotted #333; border-bottom:1px dotted #333;font-family:'Courier New', Courier, monospace">
                    <th align="left" valign="middle">TEST DESCRIPTION</th>
                    <th width="180" align="left" valign="middle">OBSERVED VALUE</th>
                    <th width="280" align="left" valign="middle">
                        REFERENCE RANGE\UNITS

                    </th>

                </tr>
                @foreach (var subtest in Model.SubtestTitles)
                {


                    var testsInSubtest = Model.Tests.Where(t => t.SubtestTitleId == subtest.Id);

                    var nullTestinSubtestCount = 0;
                    var testInSubtestCount = Model.Tests.Where(t => t.SubtestTitleId == subtest.Id).Count();

                    if (testInSubtestCount == 0)
                    {
                        continue;
                    }

                    foreach (var test in testsInSubtest)
                    {
                        var testresult = Model.Results.SingleOrDefault(r => r.testId == test.Id);
                        if (testresult == null)
                        {
                            nullTestinSubtestCount++;
                        }

                    }

                    if (testInSubtestCount == nullTestinSubtestCount)
                    {
                        continue;
                    }

                    //if (nullTests != 0)
                    //{
                    //    continue;
                    //}
                    if ( subtest.Name != "NULL")
                    {
                      <tr>
                    <th colspan="3" align="left" valign="middle" style="text-transform:uppercase; font-size:14px; text-decoration:underline;">@subtest.Name</th>
                </tr>

                    }
                    @*<tr>
                <th colspan="3" align="left" valign="middle" style="text-transform:uppercase; font-size:14px; text-decoration:underline;">@subtest.Name</th>
            </tr>*@
                foreach (var test in Model.Tests.Where(t => t.SubtestTitleId == subtest.Id))
                {
                    var testresult = Model.Results.SingleOrDefault(r => r.testId == test.Id);
                    if (testresult == null)
                    {
                        continue;
                    }
            <tr style="font-size:14px;">
                <td align="left" valign="bottom" style="text-transform:capitalize;">  @test.Name<label style="font-size:10px"></label></td>
                @{
                    int resultValue = 0;
                    bool isInt = Int32.TryParse(testresult.value, out resultValue);
                    if (isInt)
                    {
                        if (resultValue < test.MaxValue || resultValue > test.MinValue)
                        {
                            <td align="left" valign="bottom" style='font-weight:bolder'>@testresult.value @test.Unit&nbsp;</td>

                        }


                        else
                        {
                            <td align="left" valign="bottom" style='font-weight:normal'>@testresult.value @test.Unit&nbsp;</td>

                        }


                    }
                    else if (!isInt)
                    {
                        <td align="left" valign="bottom" style='font-weight: normal'>@testresult.value @test.Unit&nbsp;</td>

                    }


                    else if (test.MaxValue == null)
                    {
                        <td align="left" valign="bottom" style='font-weight: normal'>@testresult.value @test.Unit&nbsp;</td>

                    }
                }
                @*<td align="left" valign="bottom" style='font-weight:bold'>@testresult.value @test.Unit&nbsp;</td>*@

                <!--<td align="left" valign="bottom"  style="font-weight:bold"  style="font-weight:bold"  style="font-weight:bold"  style="font-weight:bold"  >  </td>-->
                @{
                    if (test.MaxValue == null && test.MinValue == null)
                    {

                    }
                    else
                    {
                        <td align="left" valign="bottom">
                            @test.MaxValue - @test.MinValue&nbsp;@test.Unit
                        </td>
                    }
                }

            </tr>
                    }
                }




                <tr>
                    <th colspan="3" style="font-size:10px" align="center" valign="middle">End Of Report</th>
                </tr>
                <!--    <tr>
    <th style="border:1px #333 solid; font-size:11px; text-align:justify; text-transform:none" colspan="3" align="left"  valign="middle">Note : All pathological tests have technical and biological limitations . Please correlate Clinically as well as with other investative findings. A review should be requested in case of any disparity. This report is not valid for Medicolegal  purpose.</th>
    </tr>-->

                <tr>
                    <td align="left" valign="middle">&nbsp;</td>
                    <td align="left" valign="middle">&nbsp;</td>
                    @{ if (Model.Report.DigitalSignature == true)
                        {
                            <th align="center" valign="middle"><img src="@Model.Report.ConsultingPathologist.DigitalSignaturePhotoaddress" width="100" /><br />@Model.Report.ConsultingPathologist.Name<br />MBBS, DCH<br>Reg. No. 6591</th>

                        }
                        else
                        {
                            <th align="center" valign="middle"><br />@Model.Report.ConsultingPathologist.Name<br />MBBS, DCH<br>Reg. No. 6591</th>

                        }
                    }
                </tr>
                <tr>
                    <th colspan="3" align="left" valign="middle" style="text-transform:none; font-size:9px">This lab report was printed using RLTECH www.rltech.co.in by : Kailashrtm</th>
                </tr>






            </table>
        </div>
    </div>
</center>